<div class="col-lg-3 col-md-6 mb-5">
    <h5 class="mb-4 text-white text-uppercase font-weight-bold">Categories</h5>
    <div class="m-n1">
        {% for cat in this.categories %}
            <a href="{{ path('app_category', {slug: cat.slug}) }}" class="btn btn-sm btn-secondary m-1">{{ cat.name }}</a>
        {% endfor %}
    </div>
</div>
