<!-- Newsletter Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <p>Subscribe to our newsletter!</p>
        <form action="{{ path('app_newsletter_subscribe') }}" method="post" class="input-group mb-2" style="width: 100%;">
            <input type="text" name="email" class="form-control form-control-lg" placeholder="Your Email">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary font-weight-bold px-3">Sign Up</button>
            </div>
        </form>
        <small>We promise, we won't send any spam</small>
    </div>
</div>
<!-- Newsletter End -->
