<!-- Tags Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            {% for tag in this.tags %}
                <a href="{{ path('app_tag', {slug: tag.slug}) }}" class="btn btn-sm btn-outline-secondary m-1">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Tags End -->
