<!-- Tags Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
        </div>
    </div>
</div>
<!-- Tags End -->
